body {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}

.alert-secondary1 {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db;
}

.alert1 {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert1 a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
